<ul class="nav flex-column bg-primary">
  <li class="nav-item">
    <a class="nav-link text-white" routerLink="/customers">
      <i class="fas fa-user"></i>
      Customers
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link text-white" routerLink='/flights'>
      <i class="fas fa-plane-departure"></i>
      Flights
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" routerLink='/tickets'>
      <i class="fas fa-ticket-alt"></i>
      Tickets
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" routerLink='/countries'>
      <i class="fas fa-globe-europe"></i>
      Countries
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" routerLink='/airlines'>
      <i class="fas fa-plane"></i>
      airlines
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link text-white" routerLink="/messages">
      <i class="far fa-calendar-times"></i>
      RabbitMQ/Logs
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" routerLink="/posts">
      <i class="fas fa-blog"></i>
      Posts
    </a>
  </li>
</ul>
