<ul class="nav flex-column bg-primary">
  <li class="nav-item">
    <a class="nav-link text-white" routerLink="/customers">
      <i class="fas fa-user"></i>
      Customers
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" routerLink='/flights'>
      <i class="fas fa-plane"></i>
      Flights
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" routerLink='/ticket'>

      Tickets
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" routerLink='countries'>
      <i class="fas fa-globe-europe"></i>
      Countries
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" href="#">
      <i class="far fa-calendar-times"></i>
      RabbitMQ
    </a>
  </li>
</ul>
