agm-map{
  height:300px;

}

.container{
  opacity: 0.5;
  transition: opacity 0.8s;
  box-shadow: 2px 2px 2px;


}

.container:hover {
  opacity: 1;
}

.myPlace{
  position: absolute;
  top:25%;
  right:25%;
  color:#0d6efd;
  box-shadow: 5px 5px 10px;
}




