<p>id: {{id}}</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis eveniet nemo at est laborum consequuntur accusantium! Aut ducimus facilis quos expedita error, ratione hic? Reprehenderit nobis ut commodi blanditiis rerum.</p>
<h2 class="display-3">{{airlinename}}</h2>
<div class="container">
  <agm-map
[latitude]="lat"
[longitude]="lng"
[zoom]="zoom"
[disableDefaultUI]="false"
(mapClick)="mapClicked($event)"
>

<agm-direction
[origin]="origincountry"
[destination]="destinationcountry"
>
</agm-direction>
</agm-map>


</div>


