agm-map{
  height:300px;

}

.container{
  opacity: 0.5;
  transition: opacity 0.8s;
  box-shadow: 2px 2px 2px;


}

.container:hover {
  opacity: 1;
}

.myPlace{
  position: absolute;
  top:15%;
  right:10%;
  opacity: 0.5;
}




