
<div *ngIf="ticketApi.tickets| async as tickets">
 <!--  <pre>
    {{ tickets | json }}
  </pre> -->

  <table class="table">
    <thead>
      <tr>
      <th scope="col">#</th>
      <th scope="col">Id</th>
      <th scope="col">Flight Id</th>
      <th scope="col">Customer Id</th>
      <th scope="col">Operations</th>
    </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let ticket of tickets;inx as index" >
      <tr>
        <th scope="row">{{inx}}</th>
        <td scope="row">{{ticket.id}}</td>
        <td scope="row">{{ticket.flight_id}}</td>
        <td scope="row">{{ticket.customer_id}}</td>
        <td scope="row">
          <a [hidden]="rule!=='Customer'"routerLink="update" class='m-1'>
            <i class="fas fa-edit"> </i>
          </a>
          <a [hidden]="rule!=='Customer'" routerLink="delete" class='m-1'>
          <i class="fas fa-trash-alt"> </i>
        </a>
        <a [hidden]="rule!=='Customer'" routerLink="insert" class='m-1'>
          <i class="far fa-plus-square"> </i>
        </a>
      </td>
      </tr>
      </ng-container>
    </tbody>

    </table>


</div>
