
<div *ngIf="flightApi.flights| async as flights">
<!--   <pre>
    {{ flights | json }}
  </pre> -->
  <button [hidden]="rule!=='Customer'" (click)="getInfo()"><i class="far fa-question-circle text-danger p-2 fs-1"></i></button>
  <h1 class="display-2 text-center mb-3" >Flights <a [hidden]="rule!=='Airline'" routerLink="insert" class="m-1">
    <i class="far fa-plus-square"> </i>
  </a></h1>
  <table class="table">
    <thead>
      <tr>
      <th scope="col">#</th>
      <th scope="col">Id</th>
      <th scope="col">Airline Name</th>
      <th scope="col">Origin Country Name</th>
      <th scope="col">Destination Country Name</th>
      <th scope="col">Departure Time</th>
      <th scope="col">Landing Time</th>
      <th scope="col">Remaning Tickets</th>
      <th scope="col">Operations</th>

    </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let flight of flights;inx as index" >
      <tr>
        <th scope="row">{{inx}}</th>
        <td scope="row">{{flight.id}}</td>
        <td scope="row">{{flight.airline_name}}</td>
        <td scope="row">{{flight.origin_country_name}}</td>
        <td scope="row">{{flight.destination_country_name}}</td>
        <td scope="row">{{flight.departure_time}}</td>
        <td scope="row">{{flight.landing_time}}</td>
        <td scope="row">{{flight.remaining_tickets}}</td>
        <td scope="row">
          <a routerLink="update" class='m-1'>
            <i [hidden]="rule!=='Airline'" class="fas fa-edit"> </i>
          </a>
          <a  [hidden]="rule!=='Airline'"routerLink="delete" class='m-1'>
          <i class="fas fa-trash-alt"> </i>
        </a>
         <a routerLink="map"  [queryParams]="{id:flight.id,airlinename: flight.airline_name,origincountry:flight.origin_country_name,destinationcountry:flight.destination_country_name,departuretime:flight.departure_time,landingtime:flight.landing_time,remainingtickets:flight.remaining_tickets,rule:this.rule}" class="m-1">
          <i class="fas fa-route"></i>
       </a>
        <button [hidden]="rule!=='Customer'" (click)="buyTicket(flight.id)"><i  class="fas fa-ticket-alt"> </i></button>


    </td>
      </tr>
      </ng-container>
    </tbody>

    </table>
</div>
