
<div *ngIf="countryApi.countries| async as countries">
  <pre>
    {{ countries | json }}
  </pre>
  <table class="table">
    <thead>
      <tr>
      <th scope="col">#</th>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Operations</th>
    </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let country of countries;inx as index" >
      <tr>
        <th scope="row">{{inx}}</th>
        <td scope="row">{{country.id}}</td>
        <td scope="row">{{country.name}}</td>
        <td scope="row">
          <a [hidden]="rule!=='Admin'" routerLink="update"  [queryParams]="{id:country.id,country: country.name}" class='m-1'>
            <i class="fas fa-edit"> </i>
          </a>
          <a [hidden]="rule!=='Admin'" routerLink="delete" [queryParams]="{id:country.id}" class='m-1'>
          <i class="fas fa-trash-alt"> </i>
        </a>
      <a [hidden]="rule!=='Admin'" routerLink="insert" class="m-1">
        <i class="far fa-plus-square"> </i>
      </a></td>
      </tr>
      </ng-container>
    </tbody>

    </table>
</div>


