
<!-- <div *ngIf="httpService.cars | async as cars">
  <pre>

    {{ cars | json }}

  </pre>
</div> -->



<div class="cars-gallery">
  <div  class="cars-card" *ngFor="let car of cars| paginate: { itemsPerPage: 8, currentPage: p }">
    <header>
      <img *ngIf="car.img_url" [src]="car.img_url" [alt]="car.id">
      <div>
        <h4> Factory: {{ car.make }}</h4>
        <h5> Model: {{ car.model }}</h5>
      </div>
    </header>
    <p> Horse Power: {{ car.horsepower }} <button (click)="addToFlight(car)">Add to flight</button></p>
  </div>
</div>
<pagination-controls (pageChange)="p = $event"></pagination-controls>





<!--
  /*
"year": 2016,
"id": 15,
"horsepower": 252,
"make": "audi",
"model": "a6",
"price": 52100,
"img_url": "http://ts2.mm.bing.net/th?id=OIP.M87f9a7ad73341027ed0eb94569f2425eH0&pid=15.1"*/

-->



