

.cars-gallery {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1.2rem;
  margin: 2rem 0;

  .car-card {
    padding: 1rem;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0);
    transition: box-shadow 300ms;
    border-radius: 10px;
    background: #f9f9fb;

}
}

img {
  width:75%;
  height: 75%;
  border-radius: 80%;
  transition: width 3000ms;
  padding: 5px;
}

img:hover{
  width:80%;
  height: 80%;
  cursor: pointer;
}


div h4 {
  color:  #0d6efd;
  font-size: 17px;
  margin: 10px;
}

div h5,p {
  color:  #4f85d8;
  font-size: 13px;
  margin:10px;

}

button{
  outline: none;
  user-select: none;
  border: none;
  background-color: #0d6efd;
  color:white;
  transition: width 0.8s;
}

button:hover{
  background-color:#adaeaf;
  color: #0d6efd;

  transform: scale(1.1,1.1)
}





