<div class="row">
  <div class="col-2"></div>
  <div class="col-4">
    <form
      #signupForm="ngForm"
      (ngSubmit)="onSubmit(signupForm)"
      novalidate
      autocomplete="off"
    >
      <div class="text-center mb-4">
        <p>Signup with your account</p>
      </div>

      <div class="form-group mb-4">
        <div class="form-group">
          <input
            #userF="ngModel"
            ngModel
            name="username"
            required
            [ngClass]="{ 'is-invalid': userF.errors && userF.touched }"
            type="text"
            placeholder="User Name"
            id="username"
            class="form-control"
            autocomplete="username"
          />
          <div
            [hidden]="!(userF.errors?.required || userF.errors?.user)"
            class="invalid-feedback"
          >
            Valid user is required
          </div>
        </div>
      </div>

      <div class="form-group mb-4">
        <div class="form-group">
          <input
            #passwordF="ngModel"
            ngModel
            name="password"
            required
            placeholder="Password"
            [ngClass]="{ 'is-invalid': passwordF.errors && passwordF.touched }"
            type="password"
            id="password"
            class="form-control"
            autocomplete="current-password"
          />
          <div [hidden]="!passwordF.errors?.required" class="invalid-feedback">
            Password is required
          </div>
        </div>
      </div>


      <div class="form-group mb-4">
        <div class="form-group">
          <input
            #emailF="ngModel"
            ngModel
            name="email"
            required
            [ngClass]="{ 'is-invalid': emailF.errors && emailF.touched }"
            type="email"
            id="email"
            class="form-control"
            autocomplete="current-email"
            placeholder="Email Address"
          />
          <div [hidden]="!emailF.errors?.required" class="invalid-feedback">
            Email is required
          </div>
        </div>
      </div>

      <div class="form-group mb-4">
        <div class="form-group">
          <select
            #ruleF="ngModel"
            ngModel
            name="rule"
            required
            [ngClass]="{ 'is-invalid': ruleF.errors && ruleF.touched }"
            id="rule"
            class="form-select"
            autocomplete="current-email">
            <option value="" selected>choose your rule</option>
            <option value="Customer">Customer</option>
            <option value="Airline">Airline</option>
            <option value="Admin">Admin</option>
          </select>

          <div [hidden]="!ruleF.errors?.required" class="invalid-feedback">
            rule is required
          </div>
        </div>
      </div>

      <button
        [disabled]="!signupForm.form.valid"
        class="btn btn-lg btn-primary btn-block"
        type="submit"
      >
        Sign Up
      </button>
    </form>

    <hr />

    <p class="mt-5 mb-3 text-muted text-center">&copy; 2019-2020</p>
  </div>
</div>



